# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac Files
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build Files
dist/
build/

# OS Files
Thumbs.db